.container{
    display: flex;
    /* GAP é o espaçamento entre os itens do flexbox */
    /* gap:50px; */
    /* Alinhando os intens no centro horizontal */
    /* justify-content: center; */
    background-color: #30302e;
    padding:20px;
    height: 200px;
}
.card{
    background-color: #8cc9e4;
    color:#30302e;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    margin: 5px;
}
.row-center{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-left{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.row-end{
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.linha-espacada{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrap{
    flex-direction: row;
    /* Ativa a quebra de linha */
    flex-wrap:wrap;
    align-items: center;
}